In [1]:
import pandas as pd
import numpy as np

## Compute the Signal column

In [2]:
full = pd.read_csv("../data/BitstampData_sample.csv")

In [3]:
full.shape

(499999, 8)

In [4]:
full = full.dropna()

In [5]:
full.shape

(24521, 8)

In [7]:
feats = pd.read_csv("../data/features.csv")

In [8]:
feats.shape

(19607, 13)

In [10]:
full

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380337,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
499939,1355314260,13.34,13.34,13.34,13.34,24.866857,331.723868,13.340000
499940,1355314320,13.33,13.33,13.33,13.33,16.881552,225.031092,13.330000
499958,1355315400,13.42,13.42,13.42,13.42,5.763040,77.340000,13.420000
499961,1355315580,13.34,13.34,13.34,13.34,1.500000,20.010000,13.340000
499964,1355315760,13.34,13.34,13.34,13.34,3.900000,52.026000,13.340000

In [9]:
feats

,timestamp,ma10,rsi30,rsi10,%k10,ema200,ma200,rsi200,%k30,rsi10.1,%k200,%k30.1,ema10
0,1325600520,4.781,NaN,NaN,80.645161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.941577
1,1325602440,4.868,NaN,85.365854,93.548387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.006627
2,1325604720,4.958,NaN,85.751979,96.341463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.063244
3,1325610600,5.030,NaN,85.751979,95.945946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.107749
4,1325610840,5.086,NaN,73.741561,75.675676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.113989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19602,1351989660,10.632,53.396343,57.953487,100.000000,10.625978,10.59670,50.050111,100.000000,NaN,NaN,NaN,10.655024
19603,1351991700,10.620,41.725604,26.388609,0.000000,10.624227,10.59605,48.503938,0.000000,NaN,NaN,NaN,10.617747
19604,1351994460,10.632,50.897150,50.923396,82.608696,10.624384,10.59565,49.791687,82.608696,NaN,NaN,NaN,10.621793
19605,1351994760,10.638,50.464714,49.949809,78.260870,10.624440,10.59520,49.725912,78.260870,NaN,NaN,NaN,10.623285
19606,1351995420,10.639,51.737293,52.948358,91.304348,10.624793,10.59490,49.925356,91.304348,NaN,NaN,NaN,NaN

In [19]:
full.columns = ['timestamp',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [18]:
full.columns.tolist()

['Timestamp',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [20]:
feats_full = feats.merge(full, on= "timestamp", left_index=False, right_index=False, how = "inner")

In [21]:
feats_full

,timestamp,ma10,rsi30,rsi10,%k10,ema200,ma200,rsi200,%k30,rsi10.1,%k200,%k30.1,ema10,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325600520,4.781,NaN,NaN,80.645161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.941577,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000
1,1325602440,4.868,NaN,85.365854,93.548387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.006627,5.26,5.26,5.26,5.26,29.319392,154.220000,5.260000
2,1325604720,4.958,NaN,85.751979,96.341463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.063244,5.29,5.29,5.29,5.29,29.302457,155.010000,5.290000
3,1325610600,5.030,NaN,85.751979,95.945946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.107749,5.29,5.29,5.29,5.29,11.285444,59.700000,5.290000
4,1325610840,5.086,NaN,73.741561,75.675676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.113989,5.14,5.14,5.14,5.14,0.020000,0.102800,5.140000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19602,1351989660,10.632,53.396343,57.953487,100.000000,10.625978,10.59670,50.050111,100.000000,NaN,NaN,NaN,10.655024,10.68,10.68,10.68,10.68,1.904494,20.340000,10.680000
19603,1351991700,10.620,41.725604,26.388609,0.000000,10.624227,10.59605,48.503938,0.000000,NaN,NaN,NaN,10.617747,10.64,10.64,10.45,10.45,54.200000,568.976056,10.497713
19604,1351994460,10.632,50.897150,50.923396,82.608696,10.624384,10.59565,49.791687,82.608696,NaN,NaN,NaN,10.621793,10.64,10.64,10.64,10.64,1.957707,20.830000,10.640000
19605,1351994760,10.638,50.464714,49.949809,78.260870,10.624440,10.59520,49.725912,78.260870,NaN,NaN,NaN,10.623285,10.63,10.63,10.63,10.63,5.200000,55.276000,10.630000
19606,1351995420,10.639,51.737293,52.948358,91.304348,10.624793,10.59490,49.925356,91.304348,NaN,NaN,NaN,NaN,10.66,10.66,10.66,10.66,0.040338,0.430000,10.660000

In [25]:
feats_full.columns.tolist()

['timestamp',
 'ma10',
 'rsi30',
 'rsi10',
 '%k10',
 'ema200',
 'ma200',
 'rsi200',
 '%k30',
 'rsi10.1',
 '%k200',
 '%k30.1',
 'ema10',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [26]:
feats_full.columns = ['timestamp',
 'ma10',
 'rsi30',
 'rsi10',
 '%k10',
 'ema200',
 'ma200',
 'rsi200',
 '%k30',
 'rsi10.1',
 '%k200',
 '%k30.1',
 'ema10',
 'Open',
 'High',
 'Low',
 'close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [27]:
# Create short simple moving average over the short window
feats_full['short_mavg'] = feats_full['close'].shift(-10).rolling(window=10, min_periods=10, center=False).mean()

# Create long simple moving average over the long window
feats_full['long_mavg'] = feats_full['close'].shift(-60).rolling(window=60, min_periods=60, center=False).mean()

# Create signals
feats_full['signal'] = np.where(feats_full['short_mavg'] > feats_full['long_mavg'], 1.0, 0.0)

In [28]:
feats_full

,timestamp,ma10,rsi30,rsi10,%k10,ema200,ma200,rsi200,%k30,rsi10.1,...,Open,High,Low,close,Volume_(BTC),Volume_(Currency),Weighted_Price,short_mavg,long_mavg,signal
0,1325600520,4.781,NaN,NaN,80.645161,NaN,NaN,NaN,NaN,NaN,...,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000,NaN,NaN,0.0
1,1325602440,4.868,NaN,85.365854,93.548387,NaN,NaN,NaN,NaN,NaN,...,5.26,5.26,5.26,5.26,29.319392,154.220000,5.260000,NaN,NaN,0.0
2,1325604720,4.958,NaN,85.751979,96.341463,NaN,NaN,NaN,NaN,NaN,...,5.29,5.29,5.29,5.29,29.302457,155.010000,5.290000,NaN,NaN,0.0
3,1325610600,5.030,NaN,85.751979,95.945946,NaN,NaN,NaN,NaN,NaN,...,5.29,5.29,5.29,5.29,11.285444,59.700000,5.290000,NaN,NaN,0.0
4,1325610840,5.086,NaN,73.741561,75.675676,NaN,NaN,NaN,NaN,NaN,...,5.14,5.14,5.14,5.14,0.020000,0.102800,5.140000,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19602,1351989660,10.632,53.396343,57.953487,100.000000,10.625978,10.59670,50.050111,100.000000,NaN,...,10.68,10.68,10.68,10.68,1.904494,20.340000,10.680000,NaN,NaN,0.0
19603,1351991700,10.620,41.725604,26.388609,0.000000,10.624227,10.59605,48.503938,0.000000,NaN,...,10.64,10.64,10.45,10.45,54.200000,568.976056,10.497713,NaN,NaN,0.0
19604,1351994460,10.632,50.897150,50.923396,82.608696,10.624384,10.59565,49.791687,82.608696,NaN,...,10.64,10.64,10.64,10.64,1.957707,20.830000,10.640000,NaN,NaN,0.0
19605,1351994760,10.638,50.464714,49.949809,78.260870,10.624440,10.59520,49.725912,78.260870,NaN,...,10.63,10.63,10.63,10.63,5.200000,55.276000,10.630000,NaN,NaN,0.0
19606,1351995420,10.639,51.737293,52.948358,91.304348,10.624793,10.59490,49.925356,91.304348,NaN,...,10.66,10.66,10.66,10.66,0.040338,0.430000,10.660000,NaN,NaN,0.0

In [29]:
feats_full.signal.value_counts()

0.0    10544
1.0     9063
Name: signal, dtype: int64

In [30]:
feats_full["timestamp_new"] = pd.to_datetime(feats_full["timestamp"], unit = 's')

In [32]:
feats_full.timestamp_new.max()

Timestamp('2012-11-04 02:17:00')

In [33]:
feats_full.timestamp_new.min()

Timestamp('2012-01-03 14:22:00')

In [38]:
test.Timestamp_new.min()

Timestamp('2012-11-04 03:03:00')

In [39]:
test.Timestamp_new.max()

Timestamp('2012-12-12 12:36:00')

In [ ]:
feats_full._

In [34]:
test = pd.read_csv("../data/test.csv")
dataset = pd.read_csv("file_data.csv")

#Checking for any null values and removing the null values'''
print('Null Values =', dataset.isnull().values.any())

#dataset[dataset.columns.values] = dataset[dataset.columns.values].()
dataset= dataset.dropna()
#dataset=dataset.drop(columns=['Timestamp'|])

print('Null Values =', dataset.isnull().values.any())

Null Values = True
Null Values = False

In [ ]:
dataset["timestamp_new"] = pd.to_datetime(dataset["timestamp"], unit = 's')

In [ ]:
dataset.timestamp_new.max()

In [ ]:
dataset.timestamp_new.min()

In [37]:
test["Timestamp_new"] = pd.to_datetime(test["Timestamp"], unit = 's')

In [ ]:
test.Timestamp_new.max()

In [ ]:
#file_data["timestamp"] = pd.to_datetime(file_data["timestamp"], unit='s')
#file_data[['timestamp', 'weighted_price']].plot(grid=True)

In [ ]:
dataset.columns

In [ ]:
# Create short simple moving average over the short window
dataset['short_mavg'] = dataset['close'].shift(-10).rolling(window=10, min_periods=10, center=False).mean()

# Create long simple moving average over the long window
dataset['long_mavg'] = dataset['close'].shift(-60).rolling(window=60, min_periods=60, center=False).mean()

# Create signals
dataset['signal'] = np.where(dataset['short_mavg'] > dataset['long_mavg'], 1.0, 0.0)

In [ ]:
dataset

In [ ]:
dataset.signal.value_counts()

In [ ]:
dataset.signal.describe()

In [ ]:
test

In [ ]:
df_db = pd.read_csv('database_data.csv')
df_api = pd.read_csv 
df_website
df_files